.contact-info {
    padding: 50px 20px;
    background-color: #f7f7f7;
    text-align: center;
}

<<<<<<< HEAD
.contact-form {
    width: 50%;
    margin: 0 auto;
=======
.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white; /* Change text color to white for contrast */
}

.contact-details {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-item {
    background-color: #000000; /* Darker background for contact items */
>>>>>>> 98554b36a08dc27756d86fc7b86dc2f1cb8e90e8
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
}

.contact-form button[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #3e8e41;
}