* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

/* Navigation Bar Styles */
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
}

.brand-title {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar-links ul li {
    position: relative;
    padding: 0 15px;
}

.navbar-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.navbar-links ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Hidden by default */
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        height: calc(100vh - 60px); /* Full height minus navbar height */
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
    }

    .navbar-links.active {
        display: flex; /* Show when active class is added */
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar-links ul li {
        padding: 15px 0;
    }

    .toggle-button {
        display: flex; /* Ensure toggle button is visible */
    }
}

/* Toggle Button Styles */
.toggle-button {
    display: none; /* Hidden by default on larger screens */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer ;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}