/* Body Background */
body {
    margin: 0; /* Remove default margin */
    background-color: #1a1a1a; /* Matte black background */
}

/* Navbar Styles */
.navbar {
    background-color: #555; /* Dark grey for the navigation bar */
    padding: 5px 20px; /* Reduced padding for a thinner navbar */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns logo to the left and nav items to the center */
}

/* Text Block Styles */
.text-block {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px; /* Light background for contrast */
    color: white; /* White text color */
    text-align: center; /* Centered text */
}

/* Header Styles */
.text-block h2 {
    font-size: 4em; /* Increased font size for the header */
    font-weight: bold; /* Bold text */
    color: white; /* White text color */
}
.text-block {
    max-width: 800px;
    margin: 20px auto;
    padding: 0; /* Remove padding */
    background-color: transparent; /* Remove background */
    color: white; /* White text color */
    text-align: center; /* Centered text */
}


/* Header Styles */
.text-block h2 {
    font-size: 4em; /* Increased font size for the header */
    font-weight: bold; /* Bold text */
    font-family: 'Pacifico', cursive; /* Curvy font */
}

/* Link Styles */
.desktop-links {
    flex-grow: 1; /* Allows the links to take up available space */
    display: flex;
    justify-content: center; /* Centers the links */
}

.desktop-links ul {
    list-style: none;
    display: flex;
}

.desktop-links li {
    margin: 0 15px; /* Original spacing between items */
}

.desktop-links a {
    color: white;
    text-decoration: none;
    font-weight: bold; /* Making the items bold */
}

.desktop-links a:hover {
    text-decoration: underline;
}
